:root {
    --overlayBackground: #26A9E0 !important;
    --wheelSliceBG1: #19CBC8 !important;
    --wheelSliceText1: #fff;
    --wheelSliceBG2: #32A9DE !important;
    --wheelSliceText2: #fff;
    --wheelSliceBG3: #00172F !important;
    --wheelSliceText3: #fff;

}

#page_content_inner {
    padding: 45px 85px 100px;
}


#top_bar {
    background: none;
    box-shadow: none;
    padding: 25px 85px;
    position: absolute;
}

#menu_top>li>a {
    font-size: 30px;
    font-weight: 900;
}

#menu_top>li>a .material-icons {
    font-size: 36px;
    margin-left: 20px;
}

.md-card-content {
    margin-left: 0px !important;
}

.full_border {
    border-radius: 10px !important;
    border-width: 1px 1px 1px !important;
}

.md-card {
    padding: 30px;
}

.uk-table-hover tbody tr:hover {
    font-weight: 900;
}

.md-btn {
    border-radius: 10px;
    margin-top: 20px;
}

.input_button {
    padding: 14px 4px 0px 4px !important;
}

.input-whisp,
.switchery {
    margin-bottom: 20px;
}

.md_third {
    text-align: center;
}

.gg-wheel {
    height: 300px;
    width: 300px;
    /*position: absolute;*/
    top: 50%;
    left: 50%;
    /*transform: translate(-50%, -85%);*/
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.13);
}

@media only screen and (min-width: 600px) {
    .gg-wheel {
        height: 400px;
        width: 400px;
        /*position: absolute;*/
        top: 170%;
        left: 90%;
        /*transform: translate(-50%, -50%);*/
    }
}

.gg-wheel:after {
    content: '';
    display: inline-block;
    left: -15px;
    width: 330px;
    height: 330px;
    position: relative;
    top: -15px;
    /*border: 1px solid white;*/
    border-radius: 50%;
}

@media only screen and (min-width: 600px) {
    .gg-wheel:after {
        width: 430px;
        height: 430px;
    }
}

.gg-wheel__center {
    content: '';
    height: 40px;
    width: 40px;
    border: 11px solid #ff69b4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    border-radius: 50%;
    background: #fff;
    pointer-events: none;
}

.gg-wheel__center:before {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    left: 50%;
    top: 0px;
    border-top: 30px solid transparent;
    border-right: 23px solid transparent;
    border-bottom: 30px solid #ff69b4;
    border-left: 25px solid transparent;
    transform: translate(-50%, -100%);
}

.gg-wheel__center:after {
    content: '';
    display: inline-block;
    position: absolute;
    margin: auto;
    top: -8px;
    right: 0;
    bottom: 0;
    left: 3px;
    width: 55px;
    height: 55px;
    background-color: transparent;
    border-radius: 50%;
    /*box-shadow: -2px 6px 0px 0px #d0d0d0;*/
}

.gg-list {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    list-style: none;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    transition: 8s cubic-bezier(0.165, 0.84, 0.44, 1);
    background: #000;
    border: 1px solid #000;
}

.gg-list.active {
    transform: rotate(2520deg);
}

.gg-list li {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background: var(--wheelSliceBG1);
    transform-origin: 100% 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: 1px solid #000;
}

.gg-list li strong {
    color: var(--wheelSliceText1);
}

.gg-list li:nth-child(1) {
    transform: rotate(60deg) skew(30deg);
    z-index: 6;
}

.gg-list li:nth-child(2) {
    transform: rotate(120deg) skew(30deg);
    z-index: 7;
}

.gg-list li:nth-child(3) {
    transform: rotate(180deg) skew(30deg);
    z-index: 8;
}

.gg-list li:nth-child(4) {
    transform: rotate(240deg) skew(30deg);
    z-index: 9;
}

.gg-list li:nth-child(5) {
    transform: rotate(300deg) skew(30deg);
    z-index: 10;
}

.gg-list li:nth-child(6) {
    transform: rotate(360deg) skew(30deg);
    z-index: 11;
}

.gg-list li:nth-child(1),
.gg-list li:nth-child(4) {
    background: var(--wheelSliceBG2);
}

.gg-list li:nth-child(1) strong,
.gg-list li:nth-child(4) strong {
    color: var(--wheelSliceText2);
}

.gg-list li:nth-child(2),
.gg-list li:nth-child(5) {
    background: var(--wheelSliceBG3);
}

.gg-list li:nth-child(2) strong,
.gg-list li:nth-child(5) strong {
    color: var(--wheelSliceText3);
}

.gg-list__content {
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    height: 100px;
    width: 100px;
    transform: skew(-30deg) rotate(-60deg) translateX(-7px) translateY(-20px);
    text-align: center;
    font-family: var(--font-bold);
    font-weight: bold;
    font-size: 14px;
}

@media only screen and (min-width: 600px) {
    .gg-list__content {
        font-size: 20px;
    }
}

.config_content {
    width: 100% !important;
}

.wheel-small {
    height: 300px;
    width: 300px;
    margin-top: 20px;
}

.color-picker {
    margin: 20px 0px;

}

.no-left>* {
    padding-left: 0px !important;
}